[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:LeSpatiocorne/get_next_line.git
[submodule "ft_libft"]
	path = ft_libft
	url = git@github.com:LeSpatiocorne/ft_libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:LeSpatiocorne/ft_printf.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:LeSpatiocorne/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:LeSpatiocorne/minitalk.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:LeSpatiocorne/so_long.git
